 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="395831929716-qh9p01m4com4riam46q5bjmk8pvrnqru.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
    <div id="center">
        <div id="account-signin">
            <div id="website-login">
                <form action="/" method="post">
                    <label for="username">Username:</label><br>
                    <input type="text" name="username">
                    <br>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password">
                    <br>
                    <br>
                    <div id="submit">
                        <a href="">Create Account</a>
                        <input type="submit">
                        <!-- <button onclick="signOut()">SIgn Out</button> -->
                    </div>
                </form>
                <br><br>
                <button id="google-signin-button" ><div class="g-signin2" data-onsuccess="onSignIn" data-auto_select="false" data-theme="light"></div></button>
            </div>
        </div>
    </div>
</body>
<script>
    // signOut()
    //sign into google
    function onSignIn(googleUser) {
        signOut()
        console.log(googleUser)
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();


        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;

        const profileData = {
            "data message":"sign in",
            "user":profile.getName(),
            "id":profile.getId(),
            "profile_image":profile.getImageUrl(),
            "email":profile.getEmail(),
            "token":id_token
        }
        console.log(profileData)
        $.ajax({
            url:`/`,
            type: "POST",
            data: profileData,
            traditional: true,
            success:function(response){
                window.location = `/profile/${profileData.user}/tasks` //not needed on success sends post request to login pages route
            },
            complete:function(){},
            error:function (document, textStatus, thrownError){
                alert("error");
                console.log(textStatus)
            }
        }); //sends js dict to django backend view using ajax call
    }
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            auth2.disconnect();
            // document.location='http://localhost:8000/account/signin/';
            // window.location.reload()
        });
    } //signs out of google account
</script>
</html>
