<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="395831929716-qh9p01m4com4riam46q5bjmk8pvrnqru.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="center">
        <div id="account-signin">
            <div id="website-login">
                <form action="/" method="post">
                    <label for="username">Username:</label><br>
                    <input type="text" name="username">
                    <br>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password">
                    <br>
                    <br>
                    <div id="submit">
                        <a href="">Create Account</a>
                        <input type="submit">
                    </div>
                </form>
                <br><br>
                <button id="google-signin-button" ><div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div></button>
            </div>
        </div>
    </div>
</body>
</html>