<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/index.js"></script>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="395831929716-qh9p01m4com4riam46q5bjmk8pvrnqru.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- ############SIDEBAR###########33 -->
    <div id="sidebar">
        <div id="toggle" onclick="showMobileNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="sidebar-buttons">
            <button id="calendar-switch">Calendar</button>
            <button id="task-switch">Task</button>
            <button id="notes-switch">Notes</button>
            <div id="profile-div">
                <p class="profile-user" id=<%= profile_id %>><%= name %></p>
                <div id="dropdown">
                    <div id="settings-container">
                        <div id="settings">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div id="dropdown-content">
                            <a href="/">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ############SIDEBAR###########33 -->

    
    <div id="center">
        <!-- ############NOTES###########33 -->
        <% if (tab === "notes") {%>
            <div id="notes-tags-list">
            
                <div id="tag-search-div">
                    <input type="text" id="note-tag-input" placeholder="#TagName" >
                    <button type="submit" id="tag-search">Enter</button>
                </div>
        
                <div id="tag" class="note-tag-div">
                    <input type="radio" name="tag" value="all" id="note-tag-radio" onclick="displayTaggedNotes(value)"><label for="all">All</label>
                </div>
                
        
                {% for m in notes_tags %}
                    {% if "#" != m %}
                        <div id="tag" class="note-tag-div">
                            <input type="radio" name="tag" value="{{m}}" id="note-tag-radio" onclick="displayTaggedNotes(value)"><label for="{{m}}">{{m}}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        
            <div id="notes-container">
                <button id="create-note">Create Note</button>
                <ul id="notes-list">
                    <li class="note {{i.note_tag}}">
                        <pre>Test</pre>
                    </li>
                    {% for i in user_notes %}
                        {% if i.note_tag != "#" %}
                            <li class="note {{i.note_tag}}" id="{{i.note_tag}}">
                                <pre>{{i.note_message}}</pre>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
        
                <!-- <div id="selected-note-container" class="popup-to-delete">
                    <div id="selected-note">
                        <div id="close-note">X</div>
                        <div id="note">
                            <pre>Testing</pre>
                        </div>
                        <div id="selected-note-settings">
                            <button>Edit</button>
                            <button>Delete</button>
                        </div>
                    </div>
                </div>
                -->
        
                <div id="popup-container">
                    <div class="popup" id="note-popup">
                        <div class="popup-header"><button>X</button></div>
                        <div class="popup-body">
                            <label for="new-note-tag">Tag:</label>
                            <input type="text" id="new-note-tag" value="#">
                        </div>
                        <div class="popup-footer">
                            <textarea name="new-note" id="new-note" cols="30" rows="10"></textarea>
                            <br>
                            <button id="submit-note">Enter</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } else if (tab === "tasks") {%>
            <ul id="list-container">
                <button id="create-task">Create new Task</button>
                <div id="column-titles">
                    <p>Task</p>
                    <p>Due Date</p>
                    <p>Status</p>
                    <p>Edit</p>
                </div>
        
                {% for i in user_task %}
                    {% if "default" == i.task %}
                    {% else %}
                        <li id="{{i.task}}">
                            <div id="task">{{i.task}}</div>
                            <div id="end-date">{{i.due_date}}</div>
                            <div id="status">{{i.status}}</div>
                            <div id="dropdown">
                                <div id="settings-container">
                                    <div id="settings">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div id="dropdown-content">
                                    <a onclick="testSocket(id)" id="edit task,{{i.task}},{{i.due_date}},{{i.status}},{{current_user}},{{i.user_id}}">Edit</a>
                                    <a onclick="testSocket(id)" id="delete task,{{i.task}},{{i.due_date}},{{i.status}},{{current_user}},{{i.user_id}}">Delete</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        
            <div id="popup-container">
                <div class="popup" id="list-popup">
                    <div class="popup-header"><button>X</button></div>
                    <div class="popup-body"><h3>Please describe the task below.</h3></div>
                    <div class="popup-footer">
                        <input type="text" placeholder="Task..." name="task" id="new-task">
                        <input type="date" name="task-date" id="task-date">
                        <br>
                        <button id="submit-task" >Enter</button>
                    </div>
                </div>
            </div>
        <% } else if (tab === "calendar") {%>
            <div id="calendar-container" class=<%= tab %>>
                
            </div>
        
            <div id="popup-container">
                <div class="popup" id="note-popup">
                    <div class="popup-header"><button>X</button></div>
                    <div class="popup-body">
                        <label for="new-note-tag">Tag:</label>
                        <input type="text" id="new-note-tag" value="#">
                    </div>
                    <div class="popup-footer">
                        <textarea name="new-note" id="new-note" cols="30" rows="10"></textarea>
                        <br>
                        <button id="submit-note">Enter</button>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>

<script>
    //testing js function to display default data
    // for(let i=0;i<=100;i++){
    //     // displayNewNote("lorem ipsum","test") //test the limits of creating notes using js dom using automatic data of 100 notes
    //     displayNewTask("sleep","now") //test the limits of creating task using js dom using automatic data of 100 task
    // } 
    let x = document.querySelector(".calendar")
    let today = new Date()
    if (x.className == "calendar") {
        createMonth(today.getMonth()+1,getDaysInMonth(today.getMonth(),2022),{})
    } //after getting all task from db replace {} with that


    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        
        const profileData = {
            "data message":"sign in",
            "user":profile.getName(),
            "ID":profile.getId(),
            "profile image":profile.getImageUrl(),
            "email":profile.getEmail()
        }
        $.ajax({
            url:"/",
            type: "POST",
            data: profileData,
            traditional: true,
            success:function(response){},
            complete:function(){},
            error:function (document, textStatus, thrownError){
                alert("error");
                console.log("error")
            }
        }); //sends js dict to django backend view using ajax call
    }

    function signOut() {
            const profileData = {
                "data message":"signing out",
            }
            $.ajax({
                url:"/",
                type: "POST",
                data: profileData,
                traditional: true,
                success:function(response){},
                complete:function(){},
                error:function (document, textStatus, thrownError){
                    alert("error");
                }
            }); //sends js dict to django backend view using ajax call

            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                auth2.disconnect();
                // document.location='http://localhost:8000/account/signin/';
                // window.location.reload()
            });
            window.location='http://localhost:8000/account/signin/';


            document.getElementById("profile-div").remove()
        } //signs out of google account
</script>
</html>