*{
    margin:0
}


#center{
    background-color: palegreen;
}

#account-signin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

label,input,a{
    font-size: 25px;
}

a{
    /* text-decoration: none; */
    color: black;
}

#submit{
    display: flex;
    justify-content: space-between;
}

#google-signin-button{
    position: relative;
    left:25%;
    /* width:100;
    height:100; */
    /* border:10px solid white */
    border:none
}

.g-signin2{
    margin:5px
}